@font-face {
    font-family: 'OmegaRuby';
    src: url('/fonts/OmegaRuby-PlEB.ttf') format('truetype');
}

@font-face {
    font-family: 'PokemonGb';
    src: url('/fonts/PokemonGb-RAeo.ttf') format('truetype');
}


html {
    background-color: #ebebeb;
}

/* nav {
    background-color: #73e5ce;
    width: 140px;
    text-align: left;
    font-family: 'LmsPokedex', Courier, monospace;
    position: fixed;
    top: 30px;
    left: 50px;
    /* height: 100%; */
  /* }  */

/* @font-face {
    font-family: 'PocketMonk';
    src: url('/fonts/PocketMonk-15ze.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'LmsPokedex';
    src: url('/fonts/LmsPokedex-XEja.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
} */
/* 
h1 {
    
    font-family: 'PocketMonk', sans-serif;
    /* position: fixed; 
}

.section-title {
    font-family:'LmsPokedex', Courier, monospace;
}

ul {
    list-style: circle;
}

/* li {
    display: inline-block;
    padding: 2em;
} */

/* body {
    width: 1000px;
    margin: 0 auto;
    /* background-color: #f8f8f8; */
    /* padding: 0 20px 20px 20px; */
    /* border: 5px solid rgb(5, 5, 5); 
}
  
/* #Navigation-links {
    padding: 10px;
    
} */

.Box {
    /* border: 5px solid rgb(190, 150, 239); */
    background: rgb(255, 255, 255);
    padding: 10px;
    margin: 30px;
  }

 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

/* .section-title {
    font-family: "PokemonGb";
}

#container {
    display: grid;
    grid-template-columns: 50% 33% 33%;
    grid-template-rows: 100px, 200px, 100px, 200px;
}
  
#history {
    grid-column: 1/4;
    grid-row: 2/5;
} */