
html {
    background-color: #ebebeb;
}

nav {
    background-color: #af95ff;
    width: 100;
    text-align: center;
}

@font-face {
    font-family: 'PocketMonk';
    src: url('/fonts/PocketMonk-15ze.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'LmsPokedex';
    src: url('/fonts/LmsPokedex-XEja.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

h1 {
    
    font-family: 'PocketMonk', sans-serif;
}

.section-title {
    font-family:'LmsPokedex', Courier, monospace;
}

ul {
    list-style: none;
}

/* li {
    display: inline-block;
    padding: 2em;
} */