@font-face {
    font-family: 'Other';
    src: url('/fonts/OmegaRuby-PlEB.ttf') format('truetype');
    font-weight: normal;
    size-adjust: 180%;
    color: aliceblue;
}


img {
    width : 500px;
    height: 500px;
}

div {
    display : flex;
    justify-content: space-around;
    align-items: center;
}

html {
    background-color: #ebebeb;
}

nav {
    background-color: #baffc9;

}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    font-size: larger;

}



h1 {
    clip-path: ellipse();
    text-align: center;
    background-color: #bae1ff;
    font-family: 'PocketMonk', sans-serif
}

.adiemon-titles {
    text-align: center;
    width: 20%;
    opacity: calc(85%);
    background-color: #ffb4cb;
    font-family: 'Other', sans-serif
}

