@font-face {
    font-family: 'AlphaSapphire';
    src: url('/fonts/AlphaSapphire-dqmR.ttf') format('truetype');
}

@font-face {
    font-family: 'KetchumItalic';
    src: url('/fonts/KetchumItalic-aOOa.ttf') format('truetype');
}

@font-face {
    font-family: 'OmegaRuby';
    src: url('/fonts/OmegaRuby-PlEB.ttf') format('truetype');
}

@font-face {
    font-family: 'PocketMonk';
    src: url('/fonts/PocketMonk-15ze.ttf') format('truetype');
}

@font-face {
    font-family: 'PokemonHollow';
    src: url('/fonts/Pokemon Hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'PokemonSolid';
    src: url('/fonts/Pokemon Solid.ttf') format('truetype');
}

@font-face {
    font-family: 'KetchumWeeV';
    src: url('/fonts/Ketchum-WeeV.ttf') format('truetype');
}

@font-face {
    font-family: 'PokemonGb';
    src: url('/fonts/PokemonGb-RAeo.ttf') format('truetype');
}

@font-face {
    font-family: 'PokemonHollowNormal';
    src: url('/fonts/PokemonHollowNormal-pyPZ.ttf') format('truetype');
}

@font-face {
    font-family: 'PokemonUnownGb';
    src: url('/fonts/PokemonUnownGb-YAWa.ttf') format('truetype');
}

@font-face {
    font-family: 'Toasteggs';
    src: url('/fonts/Toasteggs-YgY2.ttf') format('truetype');
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    background-image: linear-gradient(black,#333,#333,black);
    color: #fff;
    padding: 5px;
    text-align: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: ellipse(50% 50%);
    border-radius: 50%;
    border: double 10px #f37736;
    text-align: center;
    background-image: linear-gradient(90deg, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff);
    font-family: 'PocketMonk', sans-serif;
    padding: 60px;
    width: fit-content;
    max-width: 100%; 
    font-size: 7vw;
}
h1:hover {
    filter: hue-rotate(90deg);
}

body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    font-family: 'PokemonSolid', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    font-family: 'KetchumWeeV', sans-serif;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffb3ba; 
}

nav li {
    display: inline;
    margin-right: 10px;
    color: #ffb3ba; 
}

nav a {
    color: #7bc043; 
}

nav h2 {
    color: white; 
}

a:hover{
    color: #f37736;
}

#visited {
    color: #ffffba;
}

main {
    padding: 25px;
    font-family: 'PokemonGb', sans-serif;
}

h2 {
    font-family: 'KetchumItalic', sans-serif;
}

footer {
    background-image: linear-gradient(black,#333,#333,black);
    color: #fff;
    padding: 30px;
    text-align: right;
    font-family: 'OmegaRuby';
}

footer p {
    margin-left: 30px;
    margin-top: auto;
}

footer p:nth-child(2) {
    font-size: 14px;
}

/* .fancy-cut {
    background-color: #fff;
    mix-blend-mode: screen;
    padding: 10px 20px;
} */
/* this is for the fancy cut look thing
you have to make the header link to this ok */